*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.logo img {
    padding-right: 0;
    width: 100px;
    height: 100px;
  }
  .header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    padding: 20px 100px;
    background-color: #93032E;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .logo {
    font-size: 25px;
    color: white;
    font-weight: 700;
    text-decoration: none;
  }
  .navbar a {
    position: relative;
    font-size: 18px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    margin-left: 20px;
  }
  .navbar a::before {
    content: '';
    position: absolute;
    background: white;
    top: 100%;
    left: 0;
    width: 0;
    height: 3px;
    transition: .3s;
  }
  .navbar a:hover::before {
    width: 100%;
  }


h1{
    text-align: center;
    font-weight: bold;

}

h2{
    text-align: center;
    font-weight: italic;
}
body{
    font-size: 16.30px;
}
p{
    margin-left: 8%;
    margin-right: 8%;
}
.about-box{
display: grid;
grid-template-columns: repeat(3, 1fr);}
.volunteer{
    border-left: black solid;
    border-right: black solid;
    text-align: center;

}
.individuals{
    text-align: center;
}
.institutions{
    text-align: center;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    background-color: black;
    color: white;
    padding: 10px; 
}
.column {
    text-align: center;
    padding: 10px;
    box-sizing: border-box; /* Include padding and border in the box model */
}
.bottom-rectangle {
    background-color: black;
    height: 80px;
    width: 100%; 
}
.grid-container {
    position: fixed;
    bottom: 0;
    width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
        background-color: black;
        color: white;
        padding: 10px; 
    }
.column {
        text-align: center;
        padding: 10px;
        box-sizing: border-box; /* Include padding and border in the box model */
    }
#one, #two, #three{
        border-right: solid white 2px;
        padding: 2%;
    }
    .facebook,.twitter,.youtube{
        height:86px;
        width:86px;
    }
    #four {
        display: flex; 
        justify-content: space-around; 
        align-items: center; 
    }