*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

  /* NAV BAR */

  .logo img {
    padding-right: 0;
    width: 150px;
    height: 75px;
  }

  .header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    padding: 20px 100px;
    background-color: #93032E;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  
  .logo {
    font-size: 25px;
    color: white;
    font-weight: 700;
    text-decoration: none;
  }
  
  .navbar a {
    position: relative;
    font-size: 18px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    margin-left: 20px;
  }
  
  .navbar a::before {
    content: '';
    position: absolute;
    background: white;
    top: 100%;
    left: 0;
    width: 0;
    height: 3px;
    transition: .3s;
  }
  
  .navbar a:hover::before {
    width: 100%;
  }

.body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #93032E, rgb(241, 158, 158));
    margin-right: 200px;
    margin-left: 200px;
    border-radius: 20px;
}

.container{
    max-width: 700px;
    width: 100%;
    background-color: white;
    padding: 25px 30px;
    border-radius: 5px;
}

.container .title{
    font-weight: 600;
    position: relative;
}
.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #93032E, rgb(241, 158, 158));
}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .user-details .input-box{
    margin: 20px 0 12px 0;
    width: calc(100%/2 - 20px);
}

.user-details .input-box .details{
    margin-right: 5px;
    margin-bottom: 10px;
    display: block;
}

.user-details .input-box input{
    outline: none;
    padding-left: 10px;
    font-size: 15px;
    border-radius: 5px;
    height: 45px;
    width: 100%;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color:#93032E;
}

form .button{
    height: 40px;
    margin: 40px;
}

form .button input{
    font-size: 16px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    outline: none;
    color: white;
    border: none;
    background: linear-gradient(135deg, #93032E, rgb(241, 158, 158));
    transition: all 3s ease-in;
}

form .button input:hover{
    background: linear-gradient(135deg, #93032E, rgb(241, 123, 123));
}

@media (max-width: 584px) {
    .container{
        max-width: 100%;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    .container form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
}

.heading {
    padding-left: 20px;
}

/* FOOTER */
.bottom-rectangle {
    background-color: black;
    height: 80px;
    width: 100%; 
}

    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
        background-color: black;
        color: white;
        padding: 10px; 
    }
    .column {
        text-align: center;
        padding: 10px;
        box-sizing: border-box; /* Include padding and border in the box model */
    }
#one, #two, #three{
        border-right: solid white 2px;
        padding: 2%;
    }
    .facebook,.twitter,.youtube{
        height:86px;
        width:86px;
    }
    #four {
        display: flex; 
        justify-content: space-around; 
        align-items: center; 
    }