*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.logo img {
    padding-right: 0;
    width: 150px;
    height: 75px;
  }
  .header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    padding: 20px 100px;
    background-color: #93032E;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .logo {
    font-size: 25px;
    color: white;
    font-weight: 700;
    text-decoration: none;
  }
  .navbar a {
    position: relative;
    font-size: 18px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    margin-left: 20px;
  }
  .navbar a::before {
    content: '';
    position: absolute;
    background: white;
    top: 100%;
    left: 0;
    width: 0;
    height: 3px;
    transition: .3s;
  }
  .navbar a:hover::before {
    width: 100%;
  }
  .intro{
    text-align: center;
  }
body{
    margin:0;
    min-height: 100%;
    margin-bottom: 0;
}
.middle{
    text-align: center;
}
.text{
    text-align: left;
}

.pic{
    width: 45%;
    height: 295px;
    margin-left: 50px;
    margin-right: 9%;
    margin-top: 5%
}
.container {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
}
.content {
    margin-bottom: 7px;
    margin-left: 20%;
}
.paragraphs {
    flex: 1; 
}
.donate-button {
    padding: 20px 30px;
    border: none;
    border-radius: 7px;
    background-color: #93032E; 
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for background color change */
}
.center-container {
    text-align: center;
}
.donate-button:hover {
    background: linear-gradient(135deg, #93032E, rgb(241, 158, 158));
}

.donation-box {
    width: 270px;
    height: 230px;
    border: 1px solid #ccc;
    padding: 10px;
    margin:auto;
    margin-top: 30px;
    text-align: center;
    background-color: #93032E;
    margin-bottom: 10px;
    
}
.names{
   background-color: white;
    width: 200px;
   height: 170px;
   overflow: scroll ;
   text-align: center;
   margin:auto;
   border: 2px solid #ccc

}
.names::-webkit-scrollbar {
    width: 12px;
}

.names::-webkit-scrollbar-thumb {
    background-color: black;
}
h3{
    color: white;
}

.bottom-rectangle {
    background-color: black;
    height: 80px;
    width: 100%; 
}

    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
        background-color: black;
        color: white;
        padding: 10px; 
    }
    .column {
        text-align: center;
        padding: 10px;
        box-sizing: border-box; /* Include padding and border in the box model */
    }
#one, #two, #three{
        border-right: solid white 2px;
        padding: 2%;
    }
    .facebook,.twitter,.youtube{
        height:86px;
        width:86px;
    }
    #four {
        display: flex; 
        justify-content: space-around; 
        align-items: center; 
    }